* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body {
	background:#222;
	display:block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	color:#fff;
}

h2 > small {
	color:#999 !important;
}

h2 {
	color:#444;
}

h2 {
	color:#666;
}

button {
	background:none;
	border:none;
}

.pad5 {
	padding:5px;
}

.indent15 {
	margin-left:15px;
}

.shadowbar {
	padding:5px;
	margin-bottom:5px;
	background:#444;
	width:100%;
}

.text-right {
	display:inline-block;
	text-align:right;
}

label {
	font-weight: bold;
}

h3 {
	color:#FFF;
	background:#666;
	width:100%;
	padding:5px;
	margin-top:5px;
}

.wysibb-text-editor, .wysibb-body {
	color:#000;
}

textarea {
	color:#000;
}

.center {
	display:inline-block;
	text-align:center;
}

.header {
	padding:5px;
	background:#333;
}

.headBrand {
	font-size:2em;
	color:#666;
	text-decoration:none;
}

.headBrand:hover {
	color:#eee;
	text-decoration:none;
}

.table {
	border-collapse: collapse !important;
	width:100%;
	text-align:left;
	border: 1px solid #666;
	border-spacing:0;
	margin-top:20px;
}

ul.tabs {
	display:inline-block;
	list-style:none;
	border-bottom:1px solid #333;
	padding-bottom:5px;
	margin:5px;
}

ul.tabs > li {
	display:inline-block;
	margin-top:10px;
}

ul.tabs > li > a {
	padding:5px;
	margin:5px;
	color:#888;
}

a.active {
	border-left:1px solid #555;
	border-top:1px solid #555;
	border-right:1px solid #555;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background:#333;
	color:#888;
}

.table, tr, td {
	border-bottom-width: 2px;
	border: 1px solid #666;
	padding:5px;
}

.table th,
.table td {
    border: 1px solid #666 !important;
}

fieldset {
	border:none;
}

legend {
	font-weight:bold;
}

.badge {
	background:#666;
	padding:2px;
	margin:5px;
	color:#fff;
	border-radius:7px;
}

hr {
	display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

.navList {
	text-decoration:none;
	list-style:none;
	padding:5px;
}

.navList > li {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

a {
	color:#888;
	text-decoration:none;
}

.nav-list, .nav-list-hz {
	color: #999;
	text-align:center;
}

.nav-list > li {
	display:inline;
	padding:5px;
}

.nav-list-hz > li {
	display:inline-block;
	padding:5px;
}

.nav-list > li > a {
	color:#fff;
	font-size:18px;
	display:inline-block;
	line-height:20px;
	padding:15px;
	
}

.navList > li:hover {
  border: 1px solid #e3e3e3;
  background:#E6E6E6;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.navList > li:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.navList > li:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.LButton {
  color: #999;
  background-color: #666;
  border-color: #357ebd;
  margin:5px;
}

.Link {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.inset {
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	padding: 1em;
	background-color: #222;
	margin:5px;
}

.content {
	display: block;
	min-height: 100%;
	padding-bottom: 25px;
	height: 100%;
	width: 100%;
}

.footer {
	background:#333;
}

.nav-collapse {
	
}

.pointer {
	cursor:pointer;
}

.price {
  color: #4ca64c;
  font-weight: bold;
  border: solid 0.10em #66b266;
  border-radius: .5em;
  padding:3px;
}

.in {
  padding: .2em .25em .15em;
  border: solid 0.50em #737373;
  border-radius: .1em;
  color: white;
  font-weight: bold;
}

.disclaimer {
  padding: .2em .25em .15em;
  border: solid 0.50em #6A0000;
  border-radius: .1em;
  color: #B70C0C;
  font-weight: bold;
}